

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
footer{
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
#mainContent {
    overflow-y: auto; /* Allow scrolling within the main content */
    height: calc(100vh - 56px); /* Adjust this value based on your navbar height */
    
}
#searchResults{
	max-height: 750px; /* Set a maximum height for the container */
    overflow-y: auto;
}

.search-result {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    padding-top:30px;
    padding-bottom:30px;
    
}
.card-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #333;
    border: 2px solid #f06;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    cursor: pointer;
}

.image-container {
	display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
}

.image-container img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 300px; /* Set a maximum height for consistent sizing */
    object-fit: cover;
}

.details-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    color: #f06;
    margin-top: 0;
}

p {
    color: #666;
    margin: 0;
}

footer {
	background-color: #00ffdd;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    }

.footer-content {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     }

.footer-logo img {
     max-width: 100px;
     }

.footer-links ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     }

.footer-links li {
    display: inline;
    margin-right: 20px;
	}

.footer-links a {
    color: #333;
    text-decoration: none;
    }

.footer-social a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
    }

.footer-bottom {
    background-color: #333;
    text-align: center;
    padding: 10px 0px;
    margin: 30px 0px 0px 0px;
    }
